<template>
  <div class="q-pa-md q-gutter-lg">
    <card-desktop
      :content="content"
      :title="title"
      :amount="amount"
      :url="url"
      class="desktop-only"
    ></card-desktop>
    <card-mobile
      :content="content"
      :title="title"
      :amount="amount"
      :url="url"
      class="mobile-only"
    ></card-mobile>
    <money />
  </div>
</template>

<script>
import CardMobile from "src/components/CardMobile.vue";
import CardDesktop from "src/components/CardDesktop.vue";
import Money from "src/components/Money.vue";

export default {
  components: { CardMobile, CardDesktop, Money },
  name: "DonatePage",
  setup() {
    const amount = 25;
    const title = "25 for 25!";
    const content =
      "KDE is 25 years old and all thanks to you! Let's get started in making it to 50!";
    const url = process.env.DEV
      ? "https://fund-dev.kde.org"
      : "https://fund.kde.org";
    return {
      amount,
      title,
      content,
      url,
    };
  },
};
</script>
