<template>
  <q-card>
    <q-card-section horizontal class="justify-evenly">
      <q-img class="col-4" fit="scale-down" src="~assets/25years.png" />
      <q-card-section class="text-center">
        <h1>{{ title }}</h1>
        <h6>
          {{ content }}
        </h6>
        <div class="row justify-center q-pa-md">
          <q-circular-progress
            indeterminate
            size="200px"
            :thickness="0.2"
            color="primary"
            center-color="warning"
            track-color="transparent"
            class="text-white q-ma-md"
            show-value
          >
            {{ amount }}
            <q-icon name="fas fa-euro-sign" class="q-mr-xs" />
          </q-circular-progress>
        </div>
        <div class="row justify-center">
          <q-btn
            rounded
            size="xl"
            :ripple="{ center: true }"
            color="secondary"
            label="Donate!"
            no-caps
            icon="fas fa-donate"
            @click="redirect"
          ></q-btn>
        </div>
      </q-card-section>
    </q-card-section>
    <q-separator />
  </q-card>
</template>

<script>
export default {
  name: "CardDesktop",
  props: {
    amount: {
      type: Number,
      default: 0,
    },
    title: {
      type: String,
    },
    content: {
      type: String,
    },
    url: {
      type: String,
    },
  },
  methods: {
    redirect() {
      window.open(this.url, "_target");
    },
  },
};
</script>
