<template>
  <q-card>
    <q-card-section class="text-center">
      <q-img src="~assets/25years.png" />
      <h1>{{ title }}</h1>
      <h6>
        {{ content }}
      </h6>
      <div class="row q-pa-md justify-center">
        <q-circular-progress
          indeterminate
          size="200px"
          :thickness="0.2"
          color="primary"
          center-color="grey-8"
          track-color="transparent"
          class="text-white q-ma-md"
          show-value
        >
          {{ amount }}
          <q-icon name="fas fa-euro-sign" class="q-mr-xs" />
        </q-circular-progress>
      </div>
      <div class="row justify-center">
        <q-btn
          rounded
          size="xl"
          :ripple="{ center: true }"
          color="secondary"
          label="Donate!"
          no-caps
          icon="fas fa-donate"
          @click="redirect"
        ></q-btn>
      </div>
    </q-card-section>
    <q-separator />
  </q-card>
</template>

<script>
export default {
  name: "CardMobile",
  props: {
    amount: {
      type: Number,
      default: 0,
    },
    title: {
      type: String,
    },
    content: {
      type: String,
    },
    url: {
      type: String,
    },
  },
  methods: {
    redirect() {
      window.open(this.url, "_target");
    },
  },
};
</script>
