<template>
  <div>
    <h2 v-if="timeIsUp">Happy Bday KDE!</h2>
    <h2 v-else>Countdown to our foundation:</h2>
  </div>
  <div class="row q-pa-md q-gutter-md text-center text-primary justify-center">
    <h3>
      <p>{{ two_digits(days) }}</p>
      <p>Days</p>
    </h3>
    <h3>
      <p>{{ two_digits(hours) }}</p>
      <p>Hours</p>
    </h3>
    <h3>
      <p>{{ two_digits(minutes) }}</p>
      <p>Minutes</p>
    </h3>
    <h3>
      <p>{{ two_digits(seconds) }}</p>
      <p>Seconds</p>
    </h3>
  </div>
</template>

<script>
export default {
  mounted() {
    window.setInterval(() => {
      this.now = Math.trunc(new Date().getTime() / 1000);
    }, 1000);
  },
  props: {
    date: {
      type: String,
    },
  },
  data() {
    return {
      now: Math.trunc(new Date().getTime() / 1000),
      timeIsUp: false,
    };
  },
  computed: {
    dateInMilliseconds() {
      return Math.trunc(Date.parse(this.date) / 1000);
    },
    seconds() {
      return (this.dateInMilliseconds - this.now) % 60;
    },
    minutes() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60) % 60;
    },
    hours() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60) % 24;
    },
    days() {
      return Math.trunc((this.dateInMilliseconds - this.now) / 60 / 60 / 24);
    },
    two_digits() {
      return (value) => {
        if (value < 0) {
          this.timeIsUp = true;
          return "00";
        }
        if (value.toString().length <= 1) {
          return `0${value}`;
        }
        return value;
      };
    },
  },
};
</script>
