<template>
  <q-card class="shadow-13">
    <q-card-section class="text-center">
      <h2>
        <q-icon name="fas fa-history" class="text-primary" />
        Trip down the memory lane
      </h2>
      <div class="q-pa-md">
        <q-carousel
          v-model="slide"
          swipeable
          animated
          control-type="outline"
          control-color="primary"
          navigation
          padding
          arrows
          height="300px"
          class="text-primary rounded-borders"
        >
          <q-carousel-slide name="style" class="column no-wrap flex-center">
            <q-icon name="style" size="56px" />
            <div class="q-mt-md text-center text-black">
              {{ lorem }}
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="tv" class="column no-wrap flex-center">
            <q-icon name="live_tv" size="56px" />
            <div class="q-mt-md text-center text-black">
              {{ lorem }}
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="layers" class="column no-wrap flex-center">
            <q-icon name="layers" size="56px" />
            <div class="q-mt-md text-center text-black">
              {{ lorem }}
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="map" class="column no-wrap flex-center">
            <q-icon name="terrain" size="56px" />
            <div class="q-mt-md text-center text-black">
              {{ lorem }}
            </div>
          </q-carousel-slide>
        </q-carousel>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { ref } from "vue";
export default {
  name: "MemoryLane",
  setup() {
    return {
      slide: ref("style"),
      lorem: "Put some KDE memories here",
    };
  },
};
</script>
