<template>
  <q-card class="q-pa-md">
    <q-card-section class="text-center">
      <h2 heading>Where does you money go?</h2>
      <q-separator inset />
      <div>
        <h3><q-icon name="fast_forward" class="text-primary" />The future</h3>
        <h5 class="q-pa-lg">
          <a class="text-bold text-primary">KDE e.V.</a> is investing money to
          support the <a class="text-bold text-secondary">KDE Community</a> and
          <br />
          furthering our vision of a world in which everyone has control over
          their digital life and enjoys
          <a class="text-bold text-primary">freedom and privacy</a>.
          <br />
          Some of the concrete projects we support are our conferences,
          infrastructure as well as the KDE Goals.
        </h5>
      </div>
      <q-separator inset />
      <div>
        <h3><q-icon name="fast_rewind" class="text-primary" />The Past</h3>
        <h5 class="q-pa-lg">
          <a class="text-bold text-primary">KDE e.V.</a> publish annual reports
          about our activities... <br />Like how was Akademy, Linux App Summit,
          projects sprints and more.
        </h5>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { useQuasar } from "quasar";
import { computed } from "vue";

export default {
  setup() {
    const $q = useQuasar();

    return {
      layout: computed(() => {
        return $q.screen.lt.sm
          ? "dense"
          : $q.screen.lt.md
          ? "comfortable"
          : "loose";
      }),
    };
  },
};
</script>
